
img{
    width: 150px;
    height: 150px;
}
#UAC{
    float: left;
}
#centre{
    position: relative;
    bottom: 80px;
    text-align: center;
    clear: both;
  
}
#ENEAM{
    position: relative;
    bottom: 260px;
    float: right;
    
}
#Monprofil{
    position: relative;
    bottom: 200px;

}